<mat-card id="forgotCard">
  <mat-card-title>Reset User Password</mat-card-title>
  <form [formGroup]="resetForm">
  <mat-card-content>
    <mat-form-field>
       <input matInput placeholder="Email" formControlName="email" #email>
    </mat-form-field>
    <br>
  </mat-card-content>
  <flash-messages></flash-messages>
  <mat-card-actions>
    <button type="submit" (click)="resetPW(email.value)" [disabled]="resetForm.pristine || resetForm.invalid" mat-button id="submit-button">
      <mat-icon>mail_outline</mat-icon>
    </button>
    <button mat-button routerLink="/" id="cancel-button">
      <mat-icon>clear</mat-icon>
    </button>
  </mat-card-actions>
  </form>
  <br><br><p>If you are Admin, please contact <a href="mailto:cs467erp@gmail.com">support.</a></p>
</mat-card>
