#forgotCard {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 350px;
  height: 200px;
  background: dimgrey;
}

mat-card-title {
  text-align: center;
  color: aquamarine;
}

mat-form-field {
  width: 100%;
}

input {
  background: transparent;
  color: aquamarine;
}

input:focus {
  background: transparent;
  color: aquamarine;
}

#submit-button {
  float: left;
  width: 75%;
  background: aquamarine;
  color: black;
}

#cancel-button {
  float: right;
  width: 20%;
  background: aquamarine;
  color: black;
}
