/* You can add global styles to this file, and also import other style files */

html {
  height: 100%;
  background: darkgrey;
}

body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: linear-gradient(to bottom, black, darkgrey);
  background-size: 100%;
}

.mat-form-field-empty.mat-form-field-label {
  color: azure;
}
